name: Build Full Stack


on:
  push:
    branches: ['main']
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'docs/**'
      - 'LICENSE'
      - 'Justfile'

# CONCURRENCY
# Concorrêcia
# Garante que o deploy aconteça em ordem.
# 'cancel-in-progress: false' significa: Se eu enviar o commit A, depois o B,
# espera o A terminar antes de iniciar o B.
# Também previne race conditions.
concurrency:
  group: deploy-main
  cancel-in-progress: false

env:
  REGISTRY: ghcr.io
  REPO: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=sha,format=long

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: production
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            APP_UID=1011
            APP_GID=1011

